p{
    font-size: 22px;
    color: rgb(255, 255, 255);
    
}

.parrafo{
    font-size: 22px;
    color: rgb(255, 255, 255);
    
}

.parrafo2{
    font-size: 22px;
    color: rgb(255, 255, 255);
    
}

.titulo{
    font-size: 22px;
    color: rgb(255, 255, 255);
 
}


