.parrafo{  
    text-align: justify;
    font-family: 'Acme', sans-serif;
}

.iconos{
    color: white
    ;

}

.fondoprincipal{
    background-color: rgb(116, 175, 20);

}

.parrafobanner{
    color: rgb(232, 232, 238);
}

.parrafobanner2{
    color: rgb(2, 2, 17);
}



